{
    "plugins": [
      ["module-resolver", {
        // "root": ["./src"],
        "alias": {
            "~":"./src"
        //   "test": "./test",
        //   "underscore": "lodash"
        }
      }]
    ]
  }