.menu-item {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    align-items: center;
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: block;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.035);
    }
}
.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
}
