.wrapper {
    padding: 6px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
//button types

.rounded {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 999px;
    &:hover {
        border: 1px solid rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.3);
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.outline {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//disabled

//button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 148px;
    padding: 14px 16px;
}
