.wrapper {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 8px 14px;
}

.body {
    margin-top: 12px;
    color: #161823;
}
.nickname {
    font-size: 1.8rem;
    line-height: 1;
}
.check {
    margin-left: 3px;
    color: #20d5ec;
}
.name {
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.6rem;
    margin-top: 10px;
    span {
        margin-left: 3px;
    }
}
.value ~ .value {
    margin-left: 20px;
}
